.detail-img-container{
    padding-top:10px;
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;

}
.detail-img-container img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.data-detail-container{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.detail{
    background-color: white;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid rgb(34, 34, 34);
    margin-top: 50px;
    flex-direction: row;
    box-shadow: 3px 3px rgb(77, 77, 77), -0.4em 0 0.4em #000000;
    position:relative;
    
}
.title{
    box-shadow: 3px 3px rgb(77, 77, 77), -0.1em 0 0.1em #c98a3e;
}
.buttons{
    max-width: 200px;
    display: flex;
   align-items: flex-end;
   padding:20px;
}
