.fondo {
    display: flex;
    position: absolute;
    z-index: 0;
    position:fixed;
}

body::-webkit-scrollbar{
    width: 15px;
    background-color: #443420;

}
body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: #443420;
}
body::-webkit-scrollbar-thumb:hover{
    border-radius: 30px;
    background-color: #91642e;
}